<a href="https://colab.research.google.com/github/Adrianft25/Curso-Big-Data-2023/blob/main/ETL_Python_y_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ejercicio ETL

### Resumen

A partir de una fuente de datos opensource en [Kaggle](https://www.kaggle.com/datasets/michau96/restaurant-business-rankings-2020) hemos creado montado ETL. Extraído, procesado y cargado los datos en una BBDD (base de datos).


---


## Obtención de datos

INPUT: 3 archivos CSV con las clasificaciones de los mejores restaurantes de 2020.



*   Future 50:
Clasificaciones de los futuros 50 mejores restaurantes.
*   Independence 100:
Clasificaciones de los 100 mejores restaurantes independientes de 2020.
*   Top 250:
Clasificaciones de los 250 mejores restaurantes de 2020.

Todos los datos se extrajeron de Restaurant Business Online y están basados en informes financieros de la empresa, encuestas, documentos de las franquicias y algoritmos de valoración.

In [36]:
#Dependencias
!pip install sqlalchemy==1.4.16 --quiet
import pandas as pd
import numpy as np
#Instalamos e importamos MySQL para Python
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database

## Extraer CSVs en DataFrame

In [37]:
#1. Leer el archivo top250 y ver el dataframe
top250_file = "https://drive.google.com/uc?id=10fsqUk01wJeLUcArcBN2JUg86C3lKLQm&export=download"
top250 = pd.read_csv(top250_file)
top250.head()

,Rank,Restaurant,Content,Sales,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN,Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN,Quick Service & Burger

In [38]:
#2. Leer el archivo Future50 y ver el dataframe
future50_file = "https://drive.google.com/uc?id=15zBrVc3kx7QxYkNaFaNVfh-a0uj-TKbo&export=download"
#Carga el archivo future50_file en el dataframe future50
future50 = pd.read_csv(future50_file)
future50.head()

,Rank,Restaurant,Location,Sales,YOY_Sales,Units,YOY_Units,Unit_Volume,Franchising
0,1,Evergreens,"Seattle, Wash.",24,130.5%,26,116.7%,1150,No
1,2,Clean Juice,"Charlotte, N.C.",44,121.9%,105,94.4%,560,Yes
2,3,Slapfish,"Huntington Beach, Calif.",21,81.0%,21,90.9%,1370,Yes
3,4,Clean Eatz,"Wilmington, N.C.",25,79.7%,46,58.6%,685,Yes
4,5,Pokeworks,"Irvine, Calif.",49,77.1%,50,56.3%,1210,Yes

In [39]:
#3. Leer el archivo Independence100 y ver el dataframe
ind100_file = "https://drive.google.com/uc?id=1cg8-zWjWkD1iRuRMDs5DZmSqnhHhHNcA&export=download"
#Carga el archivo ind100_file en el dataframe ind100
ind100 = pd.read_csv(ind100_file)
ind100.head()

,Rank,Restaurant,Sales,Average Check,City,State,Meals Served
0,1,Carmine's (Times Square),39080335.0,40,New York,N.Y.,469803.0
1,2,The Boathouse Orlando,35218364.0,43,Orlando,Fla.,820819.0
2,3,Old Ebbitt Grill,29104017.0,33,Washington,D.C.,892830.0
3,4,LAVO Italian Restaurant & Nightclub,26916180.0,90,New York,N.Y.,198500.0
4,5,Bryant Park Grill & Cafe,26900000.0,62,New York,N.Y.,403000.0

## Modificar DataFrames

In [40]:
#Renombrar la columna Sales a Sales_in_millions del dataframe future50
future50 = future50.rename(columns={'Sales': 'Sales_in_millions'})
future50.head()

,Rank,Restaurant,Location,Sales_in_millions,YOY_Sales,Units,YOY_Units,Unit_Volume,Franchising
0,1,Evergreens,"Seattle, Wash.",24,130.5%,26,116.7%,1150,No
1,2,Clean Juice,"Charlotte, N.C.",44,121.9%,105,94.4%,560,Yes
2,3,Slapfish,"Huntington Beach, Calif.",21,81.0%,21,90.9%,1370,Yes
3,4,Clean Eatz,"Wilmington, N.C.",25,79.7%,46,58.6%,685,Yes
4,5,Pokeworks,"Irvine, Calif.",49,77.1%,50,56.3%,1210,Yes

In [41]:
#Renombrar la columna Sales a Sales_in_millions de top250
top250 = top250.rename(columns={'Sales': 'Sales_in_millions'})
top250.head()

,Rank,Restaurant,Content,Sales_in_millions,YOY_Sales,Units,YOY_Units,Headquarters,Segment_Category
0,1,McDonald's,NaN,40412,4.9%,13846,-0.5%,NaN,Quick Service & Burger
1,2,Starbucks,NaN,21380,8.6%,15049,3.0%,NaN,Quick Service & Coffee Cafe
2,3,Chick-fil-A,While Popeyes got a lot of the chicken buzz in...,11320,13.0%,2470,5.0%,NaN,Quick Service & Chicken
3,4,Taco Bell,NaN,11293,9.0%,6766,2.7%,NaN,Quick Service & Mexican
4,5,Burger King,NaN,10204,2.7%,7346,0.2%,NaN,Quick Service & Burger

In [42]:
#Eliminar las columnas Content y Headquarters de top250 --> ["Content", "Headquarters"]
top250 = top250.drop(['Content', 'Headquarters'], axis=1)
top250.head()

,Rank,Restaurant,Sales_in_millions,YOY_Sales,Units,YOY_Units,Segment_Category
0,1,McDonald's,40412,4.9%,13846,-0.5%,Quick Service & Burger
1,2,Starbucks,21380,8.6%,15049,3.0%,Quick Service & Coffee Cafe
2,3,Chick-fil-A,11320,13.0%,2470,5.0%,Quick Service & Chicken
3,4,Taco Bell,11293,9.0%,6766,2.7%,Quick Service & Mexican
4,5,Burger King,10204,2.7%,7346,0.2%,Quick Service & Burger

In [43]:
#Hacer que las unidades de la columna sales coincidan en las tablas
#Pasos:
# Dividir la columna del dataframe Sales entre 1000000
sales_mils = ind100["Sales"] / 1000000
#Asignar a la columna del dataframe Sales la lista sales_mils
ind100["Sales"] = sales_mils
#Renombrar la columna Sales a Sales_in_millions
ind100 = ind100.rename(columns={'Sales': 'Sales_in_millions'})
ind100.head()

,Rank,Restaurant,Sales_in_millions,Average Check,City,State,Meals Served
0,1,Carmine's (Times Square),39.080335,40,New York,N.Y.,469803.0
1,2,The Boathouse Orlando,35.218364,43,Orlando,Fla.,820819.0
2,3,Old Ebbitt Grill,29.104017,33,Washington,D.C.,892830.0
3,4,LAVO Italian Restaurant & Nightclub,26.916180,90,New York,N.Y.,198500.0
4,5,Bryant Park Grill & Cafe,26.900000,62,New York,N.Y.,403000.0

### Agrupar Independent 100 por Restaurant

In [44]:
# Agrupar las filas por Restaurant y se suman
ind100_grouped = ind100.groupby(['Restaurant']).sum()
# Eliminar las columnas Rank y Average Check
ind100_grouped = ind100_grouped.drop(columns=['Rank', 'Average Check'])
# Agrupar por restaurant y average check, después añadir a ind100_grouped
avg_check = ind100.groupby(['Restaurant']).mean()
ind100_grouped['Average Check'] = avg_check['Average Check']
# Agrupar por restaurant y obtener el número de veces que aparece ese restaurante
counts = ind100.groupby(['Restaurant']).count()
ind100_grouped['Restaurant Count'] = counts['Rank']
# Ordenar por Sales de manera descendente
ind100_grouped = ind100_grouped.sort_values(by='Sales_in_millions', ascending=False)
# Restablecer el índice para mostrar el nuevo rango
ind100_grouped = ind100_grouped.reset_index()
# Mostrar cómo quedaría el DataFrame
ind100_grouped.head()

<ipython-input-44-ffbef7f93070>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  ind100_grouped = ind100.groupby(['Restaurant']).sum()
<ipython-input-44-ffbef7f93070>:6: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_check = ind100.groupby(['Restaurant']).mean()

,Restaurant,Sales_in_millions,Meals Served,Average Check,Restaurant Count
0,"Joe's Seafood, Prime Steak & Stone Crab",69.501000,816350.0,86.0,3
1,Gibsons Bar & Steakhouse,63.724826,877430.0,80.0,3
2,Carmine's (Times Square),39.080335,469803.0,40.0,1
3,The Boathouse Orlando,35.218364,820819.0,43.0,1
4,Old Ebbitt Grill,29.104017,892830.0,33.0,1

### Juntar Future50 e Ind100 por localización

In [45]:
# Paso 1. Hacer una copia de Future 50 df en la variable future50_df
future50_df = future50
future50_df.head()

,Rank,Restaurant,Location,Sales_in_millions,YOY_Sales,Units,YOY_Units,Unit_Volume,Franchising
0,1,Evergreens,"Seattle, Wash.",24,130.5%,26,116.7%,1150,No
1,2,Clean Juice,"Charlotte, N.C.",44,121.9%,105,94.4%,560,Yes
2,3,Slapfish,"Huntington Beach, Calif.",21,81.0%,21,90.9%,1370,Yes
3,4,Clean Eatz,"Wilmington, N.C.",25,79.7%,46,58.6%,685,Yes
4,5,Pokeworks,"Irvine, Calif.",49,77.1%,50,56.3%,1210,Yes

In [46]:
# Paso 2. Dividimos la columna Location de Future50 en dos nuevas columnas, City y State en un nuevo DataFrame
# Para ello usamos el método split y le pedimos que divida por comas
future50_split = future50_df["Location"].str.split(",", n = 1, expand = True)
future50_split.head()

                  0        1
0           Seattle    Wash.
1         Charlotte     N.C.
2  Huntington Beach   Calif.
3        Wilmington     N.C.
4            Irvine   Calif.

In [47]:
# Paso 3. Crear las columnas City y State dentro de future50_df 
# Pista: Se instancia el valor como en las listas (con el índice)
future50_df["City"]= future50_split[0]
future50_df["State"]= future50_split[1]
# Eliminar las columnas innecesarias --> ['Location', 'YOY_Sales', 'Units', 'YOY_Units', 'Unit_Volume', 'Franchising' ]
future50_df = future50_df.drop(['Location', 'YOY_Sales', 'Units', 'YOY_Units', 'Unit_Volume', 'Franchising'], axis=1)
future50_df.head()

   Rank   Restaurant  Sales_in_millions              City    State
0     1   Evergreens                 24           Seattle    Wash.
1     2  Clean Juice                 44         Charlotte     N.C.
2     3     Slapfish                 21  Huntington Beach   Calif.
3     4   Clean Eatz                 25        Wilmington     N.C.
4     5    Pokeworks                 49            Irvine   Calif.

In [48]:
# Paso 4. Crear una copia de Ind100 df en la variable ind100_df 
ind100_df = ind100
#Ahora elimina columnas innecesarias --> ['Average Check', 'Meals Served']
ind100_df = ind100_df.drop(['Average Check', 'Meals Served'], axis=1)
ind100_df.head()

,Rank,Restaurant,Sales_in_millions,City,State
0,1,Carmine's (Times Square),39.080335,New York,N.Y.
1,2,The Boathouse Orlando,35.218364,Orlando,Fla.
2,3,Old Ebbitt Grill,29.104017,Washington,D.C.
3,4,LAVO Italian Restaurant & Nightclub,26.916180,New York,N.Y.
4,5,Bryant Park Grill & Cafe,26.900000,New York,N.Y.

In [49]:
future50_df

,Rank,Restaurant,Sales_in_millions,City,State
0,1,Evergreens,24,Seattle,Wash.
1,2,Clean Juice,44,Charlotte,N.C.
2,3,Slapfish,21,Huntington Beach,Calif.
3,4,Clean Eatz,25,Wilmington,N.C.
4,5,Pokeworks,49,Irvine,Calif.
5,6,Playa Bowls,39,Belmar,N.J.
6,7,The Simple Greek,24,Blue Bell,Pa.
7,8,Melt Shop,20,New York,N.Y.
8,9,Creamistry,24,Yorba Linda,Calif.
9,10,Joella's Hot Chicken,29,Louisville,Ky.
10,11,Eggs Up Grill,30,Spartanburg,S.C.
11,12,Dog Haus,39,Pasadena,Calif.
12,13,Teriyaki Madness,41,Denver,Colo.
13,14,Bluestone Lane,48,New York,N.Y.
14,15,Original ChopShop,21,Plano,Texas
15,16,Rapid Fired Pizza,24,Kettering,Ohio
16,17,Ike's Love & Sandwiches,44,San Francisco,Calif.
17,18,Vitality Bowls,37,San Ramon,Calif.
18,19,Hawkers Asian Street Fare,22,Orlando,Fla.
19,20,Maple Street Biscuit Co.,39,Orange Park,Fla.
20,21,Bulla Gastrobar,32,Doral,Fla.
21,22,Duck Donuts,44,Mechanicsburg,Pa.
22,23,The Little Beet,23,New York,N.Y.
23,24,Joe & The Juice,47,New York,N.Y.
24,25,By Chloe,37,New York,N.Y.
25,26,Sugarfire Smokehouse,39,Olivette,Mo.
26,27,Bibibop Asian Grill,44,Columbus,Ohio
27,28,Bubbakoo's Burritos,28,Wall Township,N.J.
28,29,Dos Toros Taqueria,28,New York,N.Y.
29,30,The Pizza Press,27,Anaheim,Calif.
30,31,The Lost Cajun,20,Frisco,Texas
31,32,Just Salad,42,New York,N.Y.
32,33,Jeni's Splendid Ice Creams,42,Columbus,Ohio
33,34,Boqueria,27,New York,N.Y.
34,35,Quickway Japanese Hibachi,22,Fairfax,Va.
35,36,Surcheros,22,Douglas,Ga.
36,37,Famous Toastery,40,Charlotte,N.C.
37,38,Culinary Dropout,20,Scottsdale,Ariz.
38,39,Condado Tacos,38,Columbus,Ohio
39,40,The Flying Biscuit Cafe,29,Atlanta,Ga.
40,41,Blue Sushi Sake Grill,49,Omaha,Neb.
41,42,The Human Bean,47,Medford,Ore.
42,43,Spitz Mediterranean Street Food,28,Los Angeles,Calif.
43,44,Tacos 4 Life,25,Conway,Ark.
44,45,Pita Mediterranean Street Food,38,Fairburn,Ga.
45,46,LA Crawfish,48,McAllen,Texas
46,47,&pizza,45,Washington,D.C.
47,48,Super Duper Burgers,39,San Francisco,Calif.
48,49,StoneFire Grill,31,Agoura Hills,Calif.
49,50,Gus's World Famous Fried Chicken,44,Memphis,Tenn.

In [50]:
ind100_df

,Rank,Restaurant,Sales_in_millions,City,State
0,1,Carmine's (Times Square),39.080335,New York,N.Y.
1,2,The Boathouse Orlando,35.218364,Orlando,Fla.
2,3,Old Ebbitt Grill,29.104017,Washington,D.C.
3,4,LAVO Italian Restaurant & Nightclub,26.916180,New York,N.Y.
4,5,Bryant Park Grill & Cafe,26.900000,New York,N.Y.
...,...,...,...,...,...
95,96,George's at the Cove,12.194000,La Jolla,Calif.
96,97,Le Coucou,12.187523,New York,N.Y.
97,98,Mi Vida,12.032014,Washington,D.C.
98,99,Upland,11.965564,New York,N.Y.
99,100,Virgil's Real Barbecue,11.391678,Las Vegas,Nev.

In [53]:
# Paso 5. Combinar el dataframe Future50 y el dataframe Ind100. Guardar el resultado en la variable top150_df
ind100_df['Sales_in_millions'] = ind100_df['Sales_in_millions'].astype(int)
top150_df = pd.merge(future50_df, ind100_df,on=['Sales_in_millions'])
top150_df

,Rank_x,Restaurant_x,Sales_in_millions,City_x,State_x,Rank_y,Restaurant_y,City_y,State_y
0,1,Evergreens,24,Seattle,Wash.,8,Maple & Ash,Chicago,Ill.
1,1,Evergreens,24,Seattle,Wash.,9,Balthazar,New York,N.Y.
2,1,Evergreens,24,Seattle,Wash.,10,Smith & Wollensky,New York,N.Y.
3,1,Evergreens,24,Seattle,Wash.,11,Angus Barn,Raleigh,N.C.
4,7,The Simple Greek,24,Blue Bell,Pa.,8,Maple & Ash,Chicago,Ill.
5,7,The Simple Greek,24,Blue Bell,Pa.,9,Balthazar,New York,N.Y.
6,7,The Simple Greek,24,Blue Bell,Pa.,10,Smith & Wollensky,New York,N.Y.
7,7,The Simple Greek,24,Blue Bell,Pa.,11,Angus Barn,Raleigh,N.C.
8,9,Creamistry,24,Yorba Linda,Calif.,8,Maple & Ash,Chicago,Ill.
9,9,Creamistry,24,Yorba Linda,Calif.,9,Balthazar,New York,N.Y.
10,9,Creamistry,24,Yorba Linda,Calif.,10,Smith & Wollensky,New York,N.Y.
11,9,Creamistry,24,Yorba Linda,Calif.,11,Angus Barn,Raleigh,N.C.
12,16,Rapid Fired Pizza,24,Kettering,Ohio,8,Maple & Ash,Chicago,Ill.
13,16,Rapid Fired Pizza,24,Kettering,Ohio,9,Balthazar,New York,N.Y.
14,16,Rapid Fired Pizza,24,Kettering,Ohio,10,Smith & Wollensky,New York,N.Y.
15,16,Rapid Fired Pizza,24,Kettering,Ohio,11,Angus Barn,Raleigh,N.C.
16,3,Slapfish,21,Huntington Beach,Calif.,22,SW Steakhouse,Las Vegas,Nev.
17,3,Slapfish,21,Huntington Beach,Calif.,23,St. Elmo Steak House,Indianapolis,Ind.
18,15,Original ChopShop,21,Plano,Texas,22,SW Steakhouse,Las Vegas,Nev.
19,15,Original ChopShop,21,Plano,Texas,23,St. Elmo Steak House,Indianapolis,Ind.
20,4,Clean Eatz,25,Wilmington,N.C.,6,Gibsons Bar & Steakhouse,Chicago,Ill.
21,4,Clean Eatz,25,Wilmington,N.C.,7,Top of the World at the STRAT,Las Vegas,Nev.
22,44,Tacos 4 Life,25,Conway,Ark.,6,Gibsons Bar & Steakhouse,Chicago,Ill.
23,44,Tacos 4 Life,25,Conway,Ark.,7,Top of the World at the STRAT,Las Vegas,Nev.
24,6,Playa Bowls,39,Belmar,N.J.,1,Carmine's (Times Square),New York,N.Y.
25,12,Dog Haus,39,Pasadena,Calif.,1,Carmine's (Times Square),New York,N.Y.
26,20,Maple Street Biscuit Co.,39,Orange Park,Fla.,1,Carmine's (Times Square),New York,N.Y.
27,26,Sugarfire Smokehouse,39,Olivette,Mo.,1,Carmine's (Times Square),New York,N.Y.
28,48,Super Duper Burgers,39,San Francisco,Calif.,1,Carmine's (Times Square),New York,N.Y.
29,8,Melt Shop,20,New York,N.Y.,24,RPM Steak,Chicago,Ill.
30,8,Melt Shop,20,New York,N.Y.,25,Mon Ami Gabi,Las Vegas,Nev.
31,31,The Lost Cajun,20,Frisco,Texas,24,RPM Steak,Chicago,Ill.
32,31,The Lost Cajun,20,Frisco,Texas,25,Mon Ami Gabi,Las Vegas,Nev.
33,38,Culinary Dropout,20,Scottsdale,Ariz.,24,RPM Steak,Chicago,Ill.
34,38,Culinary Dropout,20,Scottsdale,Ariz.,25,Mon Ami Gabi,Las Vegas,Nev.
35,10,Joella's Hot Chicken,29,Louisville,Ky.,3,Old Ebbitt Grill,Washington,D.C.
36,40,The Flying Biscuit Cafe,29,Atlanta,Ga.,3,Old Ebbitt Grill,Washington,D.C.
37,19,Hawkers Asian Street Fare,22,Orlando,Fla.,16,"Joe's Seafood, Prime Steak & Stone Crab",Chicago,Ill.
38,19,Hawkers Asian Street Fare,22,Orlando,Fla.,17,"Joe's Seafood, Prime Steak & Stone Crab",Las Vegas,Nev.
39,19,Hawkers Asian Street Fare,22,Orlando,Fla.,18,Gibsons Italia,Chicago,Ill.
40,19,Hawkers Asian Street Fare,22,Orlando,Fla.,19,Komodo,Miami,Fla.
41,19,Hawkers Asian Street Fare,22,Orlando,Fla.,20,Buddakan,New York,N.Y.
42,19,Hawkers Asian Street Fare,22,Orlando,Fla.,21,Bazaar Meat by Jose Andres,Las Vegas,Nev.
43,35,Quickway Japanese Hibachi,22,Fairfax,Va.,16,"Joe's Seafood, Prime Steak & Stone Crab",Chicago,Ill.
44,35,Quickway Japanese Hibachi,22,Fairfax,Va.,17,"Joe's Seafood, Prime Steak & Stone Crab",Las Vegas,Nev.
45,35,Quickway Japanese Hibachi,22,Fairfax,Va.,18,Gibsons Italia,Chicago,Ill.
46,35,Quickway Japanese Hibachi,22,Fairfax,Va.,19,Komodo,Miami,Fla.
47,35,Quickway Japanese Hibachi,22,Fairfax,Va.,20,Buddakan,New York,N.Y.
48,35,Quickway Japanese Hibachi,22,Fairfax,Va.,21,Bazaar Meat by Jose Andres,Las Vegas,Nev.
49,36,Surcheros,22,Douglas,Ga.,16,"Joe's Seafood, Prime Steak & Stone Crab",Chicago,Ill.
50,36,Surcheros,22,Douglas,Ga.,17,"Joe's Seafood, Prime Steak & Stone Crab",Las Vegas,Nev.
51,36,Surcheros,22,Douglas,Ga.,18,Gibsons Italia,Chicago,Ill.
52,36,Surcheros,22,Douglas,Ga.,19,Komodo,Miami,Fla.
53,36,Surcheros,22,Douglas,Ga.,20,Buddakan,New York,N.Y.
54,36,Surcheros,22,Douglas,Ga.,21,Bazaar Meat by Jose Andres,Las Vegas,Nev.
55,23,The Little Beet,23,New York,N.Y.,12,Prime 112,Miami Beach,Fla.
56,23,The Little Beet,23,New York,N.Y.,13,"Joe's Seafood, Prime Steak & Stone Crab",Washington,D.C.
57,23,The Little Beet,23,New York,N.Y.,14,Junior's (Times Square),New York,N.Y.
58,23,The Little Beet,23,New York,N.Y.,15,The Hamilton,Washington,D.C.

In [ ]:
# Paso 6. Crear una nueva columna que clasifica según la ubicación
# Ordenar por Sales de manera descendente
top150_df = top150_df.sort_values(by='Sales_in_millions', ascending=False)
# Restablecer el índice para mostrar el nuevo rango para location df
top150_df = top150_df.reset_index()
# Hacer que el índice empiece en 1
top150_df.index = np.arange(1, len(top150_df) + 1)
# Renombrar el índice de Rank para mostrar el nuevo rango
top150_df.index.names = ['Rank']
# Eliminar columnas innecesarias
top150_df = top150_df.drop(columns = ['index', 'Rank_x', 'Rank_y'])
top150_df

## Cargar DataFrames en la Base de Datos

In [56]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios)
nombreBD = 'adrianfreire'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD
#Establecemos la conexión
engine = create_engine(linkConexion)

In [57]:
if not database_exists(engine.url):
    create_database(engine.url)

In [59]:
# Sube el dataframes a sql para future50df.
# PISTA: Usa la funcion to_sql() de sqlalchemy
future50_df.to_sql(name='future50', con=engine, if_exists='replace', index=False)

-1

In [60]:
# Sube el dataframes a sql para ind100 df.
ind100_df.to_sql(name='ind100', con=engine, if_exists='replace', index=False)

-1

In [61]:
# Sube el dataframes a sql para top250 df.
top250.to_sql(name='top250', con=engine, if_exists='replace', index=False)

-1

In [62]:
# Sube el dataframes a sql para top150 df.
top150_df.to_sql(name='top150', con=engine, if_exists='replace', index=False)

-1

### Confirmar que los datos han sido añadidos consultando la tabla Top150

In [64]:
# Haz un select de la tabla top150
query = 'SELECT * from top150'
df  = pd.read_sql(query, con = engine )
df

,Rank,Restaurant_x,Sales_in_millions,City_x,State_x,Restaurant_y,City_y,State_y
0,1,Super Duper Burgers,39,San Francisco,Calif.,Carmine's (Times Square),New York,N.Y.
1,3,Maple Street Biscuit Co.,39,Orange Park,Fla.,Carmine's (Times Square),New York,N.Y.
2,4,Dog Haus,39,Pasadena,Calif.,Carmine's (Times Square),New York,N.Y.
3,5,Playa Bowls,39,Belmar,N.J.,Carmine's (Times Square),New York,N.Y.
4,2,Sugarfire Smokehouse,39,Olivette,Mo.,Carmine's (Times Square),New York,N.Y.
5,6,The Flying Biscuit Cafe,29,Atlanta,Ga.,Old Ebbitt Grill,Washington,D.C.
6,7,Joella's Hot Chicken,29,Louisville,Ky.,Old Ebbitt Grill,Washington,D.C.
7,11,Clean Eatz,25,Wilmington,N.C.,Gibsons Bar & Steakhouse,Chicago,Ill.
8,10,Clean Eatz,25,Wilmington,N.C.,Top of the World at the STRAT,Las Vegas,Nev.
9,9,Tacos 4 Life,25,Conway,Ark.,Gibsons Bar & Steakhouse,Chicago,Ill.
10,8,Tacos 4 Life,25,Conway,Ark.,Top of the World at the STRAT,Las Vegas,Nev.
11,20,Creamistry,24,Yorba Linda,Calif.,Maple & Ash,Chicago,Ill.
12,27,Evergreens,24,Seattle,Wash.,Balthazar,New York,N.Y.
13,26,Evergreens,24,Seattle,Wash.,Smith & Wollensky,New York,N.Y.
14,25,Evergreens,24,Seattle,Wash.,Angus Barn,Raleigh,N.C.
15,24,The Simple Greek,24,Blue Bell,Pa.,Maple & Ash,Chicago,Ill.
16,23,The Simple Greek,24,Blue Bell,Pa.,Balthazar,New York,N.Y.
17,22,The Simple Greek,24,Blue Bell,Pa.,Smith & Wollensky,New York,N.Y.
18,21,The Simple Greek,24,Blue Bell,Pa.,Angus Barn,Raleigh,N.C.
19,15,Rapid Fired Pizza,24,Kettering,Ohio,Balthazar,New York,N.Y.
20,19,Creamistry,24,Yorba Linda,Calif.,Balthazar,New York,N.Y.
21,18,Creamistry,24,Yorba Linda,Calif.,Smith & Wollensky,New York,N.Y.
22,17,Creamistry,24,Yorba Linda,Calif.,Angus Barn,Raleigh,N.C.
23,16,Rapid Fired Pizza,24,Kettering,Ohio,Maple & Ash,Chicago,Ill.
24,14,Rapid Fired Pizza,24,Kettering,Ohio,Angus Barn,Raleigh,N.C.
25,13,Rapid Fired Pizza,24,Kettering,Ohio,Smith & Wollensky,New York,N.Y.
26,12,Evergreens,24,Seattle,Wash.,Maple & Ash,Chicago,Ill.
27,31,The Little Beet,23,New York,N.Y.,The Hamilton,Washington,D.C.
28,30,The Little Beet,23,New York,N.Y.,Prime 112,Miami Beach,Fla.
29,29,The Little Beet,23,New York,N.Y.,"Joe's Seafood, Prime Steak & Stone Crab",Washington,D.C.
30,28,The Little Beet,23,New York,N.Y.,Junior's (Times Square),New York,N.Y.
31,41,Quickway Japanese Hibachi,22,Fairfax,Va.,"Joe's Seafood, Prime Steak & Stone Crab",Las Vegas,Nev.
32,49,Surcheros,22,Douglas,Ga.,Komodo,Miami,Fla.
33,48,Hawkers Asian Street Fare,22,Orlando,Fla.,"Joe's Seafood, Prime Steak & Stone Crab",Chicago,Ill.
34,47,Hawkers Asian Street Fare,22,Orlando,Fla.,"Joe's Seafood, Prime Steak & Stone Crab",Las Vegas,Nev.
35,46,Hawkers Asian Street Fare,22,Orlando,Fla.,Gibsons Italia,Chicago,Ill.
36,44,Hawkers Asian Street Fare,22,Orlando,Fla.,Buddakan,New York,N.Y.
37,43,Hawkers Asian Street Fare,22,Orlando,Fla.,Bazaar Meat by Jose Andres,Las Vegas,Nev.
38,42,Quickway Japanese Hibachi,22,Fairfax,Va.,"Joe's Seafood, Prime Steak & Stone Crab",Chicago,Ill.
39,45,Hawkers Asian Street Fare,22,Orlando,Fla.,Komodo,Miami,Fla.
40,40,Surcheros,22,Douglas,Ga.,Bazaar Meat by Jose Andres,Las Vegas,Nev.
41,38,Quickway Japanese Hibachi,22,Fairfax,Va.,Buddakan,New York,N.Y.
42,37,Quickway Japanese Hibachi,22,Fairfax,Va.,Bazaar Meat by Jose Andres,Las Vegas,Nev.
43,36,Surcheros,22,Douglas,Ga.,"Joe's Seafood, Prime Steak & Stone Crab",Chicago,Ill.
44,35,Surcheros,22,Douglas,Ga.,"Joe's Seafood, Prime Steak & Stone Crab",Las Vegas,Nev.
45,34,Surcheros,22,Douglas,Ga.,Gibsons Italia,Chicago,Ill.
46,33,Surcheros,22,Douglas,Ga.,Buddakan,New York,N.Y.
47,32,Quickway Japanese Hibachi,22,Fairfax,Va.,Gibsons Italia,Chicago,Ill.
48,39,Quickway Japanese Hibachi,22,Fairfax,Va.,Komodo,Miami,Fla.
49,52,Slapfish,21,Huntington Beach,Calif.,St. Elmo Steak House,Indianapolis,Ind.
50,53,Slapfish,21,Huntington Beach,Calif.,SW Steakhouse,Las Vegas,Nev.
51,50,Original ChopShop,21,Plano,Texas,St. Elmo Steak House,Indianapolis,Ind.
52,51,Original ChopShop,21,Plano,Texas,SW Steakhouse,Las Vegas,Nev.
53,54,The Lost Cajun,20,Frisco,Texas,RPM Steak,Chicago,Ill.
54,55,The Lost Cajun,20,Frisco,Texas,Mon Ami Gabi,Las Vegas,Nev.
55,56,Melt Shop,20,New York,N.Y.,Mon Ami Gabi,Las Vegas,Nev.
56,57,Culinary Dropout,20,Scottsdale,Ariz.,Mon Ami Gabi,Las Vegas,Nev.
57,58,Culinary Dropout,20,Scottsdale,Ariz.,RPM Steak,Chicago,Ill.
58,59,Melt Shop,20,New York,N.Y.,RPM Steak,Chicago,Ill.

In [65]:
# Recupera los restaurantes "Virgil's Real Barbecue" de la tabla top150
query = 'SELECT Restaurant_x, Restaurant_y FROM top150 WHERE Restaurant_x LIKE "%Barbecue" AND Restaurant_y LIKE "%%Barbecue"'
df  = pd.read_sql(query, con = engine )
df

Empty DataFrame
Columns: [Restaurant_x, Restaurant_y]
Index: []

### Resumen

A partir de una fuente de datos opensource en [Kaggle](https://www.kaggle.com/datasets/michau96/restaurant-business-rankings-2020) hemos creado montado ETL. Extraído, procesado y cargado los datos en una BBDD (base de datos).


---


## Obtención de datos

INPUT: 3 archivos CSV con las clasificaciones de los mejores restaurantes de 2020.



*   Future 50:
Clasificaciones de los futuros 50 mejores restaurantes.
*   Independence 100:
Clasificaciones de los 100 mejores restaurantes independientes de 2020.
*   Top 250:
Clasificaciones de los 250 mejores restaurantes de 2020.

Todos los datos se extrajeron de Restaurant Business Online y están basados en informes financieros de la empresa, encuestas, documentos de las franquicias y algoritmos de valoración.

## Transformación

1. Cambiamos el nombre a todas las columnas Sales para indicar que las unidades estaban en millones y corregir el dataframe Independence 100 cuya columna Sales no representamos en millones para que hubiera consistencia en las tablas.
2. Eliminamos algunas columnas adicionales que no vamos a usar en futuros análisis. Seleccionamos "Content" y "Headquarter" del dataframe top 250 ya que contenían muchos valores NaN y no proporcionaban información útil.
3. Agrupamos el dataframe independent 100 por Restaurant para combinar cualquier duplicado dentro de la tabla. Sumamos las columnas "Sales in Millions" y "Meals Served", calculamos el promedio de la columna "Average Check" y hacemos un recuento de cada restaurante para que se pueda ver si estaba representado en la tabla original varias veces. Finalmente, ordenamos este nuevo dataframe por Sales in Millions en orden descendente para ver los nuevos restaurantes mejor clasificados.
4. Para mantener la integridad de nuestro dataframe Future 50, hacemos una copia. Nuestro objetivo es fusionar el dataframe con la lista Independent 100 en función de los detalles de la ubicación.
5. Usando el dataframe copiado, separamos los valores de "Location" en dos columnas separadas ("City" y "State") y los almacenamos en un nuevo dataframe.
6. Para agregar los datos de "City" y "State" a nuestra copia original del dataframe Future 50, creamos las nuevas columnas y luego insertamos los valores separados en el paso anterior. Finalmente, eliminamos las columnas innecesarias.
7. Para mantener la integridad de nuestro dataframe Independent 100, hacemos una copia y luego eliminamos las columnas innecesarias. Hacemos que los dataframes copiados de Future 50 e Independent 100 tengan las mismas columnas para combinarlos fácilmente. Finalmente concatenamos los dos dataframes para hacer una lista del top 150.
8. Cogemos el dataframe Top 150 y ordenamos las filas por Sales in Millions. A continuación, reiniciamos el índice y lo hacemos contar desde 1 para mostrar la nueva clasificación. Finalmente, cambiamos el nombre del índice a Rank y eliminamos las columnas innecesarias.

##Subida a la base de datos

Una vez habiendo hecho un procesado de los datos nos disponemos a hacer los inserts a la BBDD. 
1. Nos conectamos a la base de datos.
2. Y, por último, subimos nuestros dataframes para que se almacenen en tablas.